<%= render "shared/header" %>

<div class='mypage-main'>
  <div class='mypage-title'>Plofile
  <% if current_user != @user %>
    <% if @user.followed_by?(current_user) %>
      <%=link_to "フォロー中", user_relationship_path(@user.id),class: "btn-delete" , method: :delete %>
    <% else %>
      <%=link_to "フォローする", user_relationships_path(@user.id),class: "btn-create" ,method: :post %>
    <% end %>
  <% end %>
    <img src=<%= @user.image %> class='icon_image'>
  </div>
<div class="follow-container">
    <h3><%= link_to "フォロー", user_relationships_path(@user.id), class: "follow-header" %> <span><%= link_to @user.followings.count, "#", class: "follow-count" %></span></h3>
    <h3><%= link_to "フォロワー", user_relationships_path(@user.id), class: "follower-header" %><span><%= link_to @user.followers.count, "#", class: "follower-count" %></span></h3>
</div>
  <h2 class='input-form'>名前</h2>
    <div class='name-text'>
      <%= @user.last_name %><%= @user.first_name %>
    </div>
  <h2 class='input-form'>職種</h2>
    <div class='job-integer'>
      <%= @user.job.name %>
    </div>
  <h2 class='input-form'>趣味</h2>
    <div class='hobby-text'>
      <%= @user.hobby %>
    </div>
  <h2 class='input-form'>自己紹介</h2>
    <div class='context-text'>
      <%= @user.context %>
    </div>
  <% if user_signed_in? && current_user.id == @user.id %>
  <div class="user-edit__form" style="float: left;">
    <%= link_to "編集", edit_user_path(@user.id), class: "user-edit"%>
  </div>
  <% end %>
</div>

<%= link_to(new_room_path, class: 'purchase-btn') do %>
  <%= image_tag 'doctor.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <span class='purchase-btn-text'>ルーム作成</span>
<% end %>

