<header class='top-page-header'>
  <div class='search-bar-contents'>
    <div class='header-right'>
      <div class='header-title'>
      <%= link_to image_tag("medical.png", class:"medical-icon"), "/" %>
        <div class='header-chat'>Chat-
        </div>
        <div class='header-medical'>Medical
        </div>
      </div>
    </div>
    <div class='header-left'>
      <div class='user-access'>
      <% if user_signed_in? %>
        <div class='nav-lists'>
          <ul class='user-btn mypage'>
            <li><%= link_to(image_tag(current_user.image.url,alt: "mypage",width: 40, height: 40),user_path(current_user.id) )%></li>
            <li><%= link_to current_user.full_name, user_path(current_user.id), class: "user-name" %></li>
          </ul>
          <ul class='user-btn logout'>
            <li><%= link_to(image_tag("logout-image.png",alt: "logout",width: 40, height: 40),destroy_user_session_path, method: :delete)%></li>
            <li class='user_name'>ログアウト</li>
          </ul>
        </div>
      <% else %>
        <div class='nav-lists'>
          <ul class='user-btn login'>
            <li><%= link_to(image_tag("login-image.png",alt: "login", width: 40, height: 40), new_user_session_path )%></li>
            <li class='user_name'>ログイン</li>
          </ul>
          <ul class='user-btn signup'>
            <li><%= link_to(image_tag("new-name.png",alt: "new-member",width: 40, height: 40), new_user_registration_path )%></li>
            <li class='user_name'>新規登録</li>
          </ul>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</header>
