<div class="simple-calendar">
  <div class="calendar-heading">
    <div class="previous-link">
      <%= link_to t('simple_calendar.previous', default: '<<'), calendar.url_for_previous_view %>
    </div>
    <div class="calendar-title">
      <%= start_date.year %>年 <%= t('date.month_names')[start_date.month] %>
    </div>
    <div class="next-link">
      <%= link_to t('simple_calendar.next', default: '>>'), calendar.url_for_next_view %>
    </div>
    <div class="event-btn">
      <%= link_to "作成", new_room_event_path, class: "event-btn__name"%>
    </div>
    <div class="event-btn">
      <%= link_to "戻る", room_path(@room.id), class: "event-btn__name"%>
    </div>
    <div class="event-circle">
      <span class="notification-circle" ></span>:主催者イベント
    </div>
    <div class="event-organizer">
      <span class="event-organizer__name">参加予定のイベント</span>
    </div>
    <div class="event-other">
      <span class="event-other__name">不参加のイベント</span>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <% classes = calendar.td_classes_for(day) %>
            <% classes << ' saturday' if day.saturday? %>
            <% classes << ' sunday' if day.sunday? %>
            <%= content_tag :td, class: classes do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
