<%= render "shared/header" %>

<div class='main'>

  <div class='title-contents'>
    <h2 class='service-title'>
      介護業界を繋げるアプリ
    </h2>
    <p class='service-explain'>
      ~どこに居ても<span>リアルタイム</span>で繋がる事ができる~
    </p>
  </div>

  <div class='select-reason-contents'>
    <h2 class='title'>
      Chat-Medicalの特徴
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "kaigo-jitensha.png", class:"list-pict" %>
        <h3 class='reason-list-text'>
        移動中
          <span class='reason-list-blue-text'><br>情報共有</span>
        </h3>
        <p class='reason-list-description'>
          スマホで気軽に連絡が取り合える！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "image-time.png", class:"list-pict" %>
        <h3 class='reason-list-text'>スケジュール
          <span class='reason-list-blue-text'><br>管理共有</span>
        </h3>
        <p class='reason-list-description'>
          担当者でスケジュール共有ができる！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "header-com.png", class:"list-pict" %>
        <h3 class='reason-list-text'>コミュニティ
          <span class='reason-list-blue-text'><br>繋がる</span>
        </h3>
        <p class='reason-list-description'>
          フォロー機能で地域の医療従事者と繋がろう
        </p>
      </li>
    </ul>
  </div>

  <div class='caht-main'>
    <div class='room-contents'>
      <h2 class='title'>チャットルーム一覧表</h2>
      <%= search_form_for @q, url: root_path, method: :get do |f| %>
        <div class="input-wrapper">
          <%= f.search_field :name_cont, class: "input-box", placeholder: "チャットルームを検索" %>
          <%= f.submit "検索", class: "search-button" %>
        </div>
      <% end %>
    </div>

    <ul class='room-lists'>
      <% if @rooms.any? %>
        <% @rooms.each do |room| %>
          <li class='list'>
            <%= link_to room_path(room.id) do %>
              <div class='room-img-content'>
                <%= image_tag room.image? ? room.image.url : "icon-first", class: "room-img" %>
              </div>
              <div class='room-info'>
                <% if room.creator == current_user %>
                  <h3 class='room-info__name'>
                    <%= room.name %>
                  </h3>
                <% else %>
                  <h3 class='room-info__creator'>
                    <%= room.name %>
                  </h3>
                <% end %>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
        <% content = user_signed_in? ? 'チャットルーム名を入力しよう' : 'ログインして下さい' %>
        <li class='list'>
          <%= link_to '#' do %>
            <div class='room-img-content'>
              <%= image_tag "icon-first", class: "room-img" %>
            </div>
            <div class='room-info'>
              <h3 class='room-info__name'>
                <%= content %>
              </h3>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to(new_room_path, class: 'purchase-btn') do %>
  <%= image_tag 'doctor.png' , size: '185x50' ,class: "purchase-btn-icon" %>
  <span class='purchase-btn-text'>ルーム作成</span>
<% end %>