<%= render "shared/header" %>

<div class='room-main'>
  <div class='room-new__title'>新規作成
  </div>
  <%= form_with(model: @room, local: true) do |f| %>
      <div class='room-new__name'>
        <%= f.label :name, 'チャットルーム名', class: 'room-name' %>
        <%= f.text_field :name, class: 'room-text' %>
      </div>
    <%= form_for(@room) do |f| %>
    <div class='invitation-user__form'>
      <div class='select-form'>
        <%= f.label :name, '招待するユーザー', class: 'invitation-user' %>
        <select>
          <option value="" selected disabled class='user-select'>ユーザーを選択して下さい</option>
          <% User.all.each do |user| %>
            <option value="<%= user.id %>"><%= user.full_user %></option>
          <% end %>
        </select>
      </div>
      <div class="selected-user-list">
        <ul></ul>
      </div>
        <div class="actions">
          <%= f.submit 'ルーム作成', class: 'submit-button' %>
        </div>
    </div>
    <% end %>
  <% end %>
</div>