<%= render "shared/header" %>
<div class='wrapper'>
  <div class='side-ber'>
    <div class="side-ber__header">
      <h3 class='side-ber__title'>参加メンバー
      </h3>
    </div>
    <div class="side-ber__footer">
      <% @users.each do |user| %>
        <div class="room-user__list">
          <%= link_to user.full_user, user_path(user), class: "user-list" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="main-chat">
    <div class="chat-header">
      <div class="chat-title">
        〜<%= @room.name %>〜
      </div>
      <div class='chat-button'>
        <div class="chat-edit" style="float: left;">
          <%= link_to "編集", edit_room_path(@room.id), class: "edit-name"%>
        </div>
        <div class="chat-event" style="float: right;">
          <%= link_to "イベント", "#", class: "event-name" %>
        </div>
      </div>
    </div>
    <div class='chat-messages'>
    </div>
    <div class='chat-form'>
    </div>
  </div>
</div>
