<%= render "shared/header" %>

<div class='wrapper'>
  <div class='side-ber'>
    <div class="side-ber__header">
      <h3 class='side-ber__title'>参加メンバー</h3>
    </div>
    <div class="side-ber__footer">
      <% @users.each do |user| %>
        <div class="room-user__list">
          <%= link_to user.full_user, user_path(user), class: "user-list" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="main-chat">
    <div class="chat-header">
      <div class="chat-title">〜<%= @room.name %>〜</div>
      <div class='chat-button'>
        <% if @room.creator == current_user %>
          <div class="chat-destroy">
            <%= link_to "削除", room_path(@room.id), method: :delete, class: "destroy-name", data: { confirm: '本当に削除しますか？' } %>
          </div>
          <div class="chat-edit" style="float: left;">
            <%= link_to "編集", edit_room_path(@room.id), class: "edit-name"%>
          </div>
        <% end %>
        <div class="chat-event" style="float: right;">
          <%= link_to "イベント", room_events_path(@room.id), class: "event-name" %>
        </div>
      </div>
    </div>

    <div class='chat-messages'>
      <% current_date = nil %>
      <% @messages.each do |message| %>
        <% if message.created_at.in_time_zone.strftime('%m/%d') != current_date %>
          <% current_date = message.created_at.in_time_zone.strftime('%m/%d') %>
          <span class="message-date"><%= "#{current_date} (#{I18n.t('date.abbr_day_names')[message.created_at.in_time_zone.wday]})" %>
          </span>
        <% end %>
        <div class="message">
          <div class="upper-message">
            <% unless message.user == current_user %>
              <div class="<%= message.user == current_user ? 'my-message__image' : 'your-message__image' %>">
                <%= image_tag message.user.image.url, class: (message.user == current_user ? 'my-image' : 'your-image') %>
              </div>
              <div class="<%= message.user == current_user ? 'my-message__user' : 'your-message__user' %>">
                <span class="<%= message.user == current_user ? 'my-full__name' : 'your-full__name' %>"><%= message.user.full_name %></span>
              </div>
            <% end %>
          </div>
          <div class="<%= message.user == current_user ? 'my-lower__message' : 'your-lower__message' %>">
            <% if message.user == current_user %>
              <div class="my-message__content">
                <% if message.content.present? %>
                  <span class="my-content__text"><%= message.content %></span>
                <% end %>
                <% if message.image.present? %>
                  <div class="my-message__image">
                    <%= image_tag message.image.url, class: "my-content__image" %>
                  </div>
                <% end %>
                <span class="my-content__date"><%= message.created_at.in_time_zone.strftime('%H:%M') %></span>
              </div>
            <% else %>
              <div class="your-message__content">
                <% if message.content.present? %>
                  <span class="your-content__text"><%= message.content %></span>
                <% end %>
                <% if message.image.present? %>
                  <div class="your-message__image">
                    <%= image_tag message.image.url, class: "your-content__image" %>
                  </div>
                <% end %>
                <span class="your-content__date"><%= message.created_at.in_time_zone.strftime('%H:%M') %></span>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>


    <div class='chat-form'>
      <%= form_with model: [@room, @message], class: 'form-message', local: true, multipart: true do |f| %>
        <%= f.text_field :content, class: 'chat-message', placeholder: 'メッセージを入力' %>
      <label class='chat-image__form'>
        <%= f.file_field :image, class: 'chat-image', id: 'chat-image-file' %>
        <input type="file" class="hidden" style="display:none">
        <label for="chat-image-file" class="choose-file">画像</label> 
      </label>
        <%= f.submit '送信', class: 'form-submit' %>
      <% end %>
    </div>
  </div>
</div>
